.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete-button {
    display: none;
    margin-left: 10px;
}

.list-item:hover .delete-button {
    display: inline;
}
